
body{
    background-image: url(multimedia/4977210.jpg);
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 50%);
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: hsl(0, 0%, 10%);
    transition: all 0.5s;
}

.navRedes ul,
#header ul
{
    list-style: none;
    margin: 5px;
    padding: 0;
}

header {
    background-color: hsl(0, 0%, 90%);
}

main{
    background-color: hsla(0, 0%, 90%, 0.900);
}

.navRedes{
    background-color: hsl(0, 0%, 90%);
    height: 100vh; 
    max-width: 100px;
}

.navRedes i,
footer i{
    font-size: 30px;
    color: hsl(0, 0%, 50%);
}

i:hover {
    transition: all 0.5s;
    color: hsl(0, 0%, 10%);
}

footer{
    background-color: hsla(0, 0%, 90%, 0.800);
}

footer i{
    font-size: 60px;
    color: hsl(0, 0%, 30%);
}

.tite-P{
    /* background-image: url(multimedia/16.png); */
    background-color: hsl(0, 0%, 20%);
    background-size: cover;
    color: white;

}

.cardW{
    min-width: 100px;
    max-width: 500px;

    min-height: 100px ;
    max-height: 300px;
    overflow: hidden;

    margin: 15px 0;

    color: hsl(0, 0%, 90%);

}

.cardW .card-img-top{
    position: absolute;
    height: 100%;
    z-index: 0;
}

.title-W{
    z-index: 1;
    margin-left: 1rem;
}

.cardW h4 {
    margin-top: 1rem ;
}

.cardW .card-body{
    z-index: 1;
    background-color: hsla(0, 0%, 20%, 0.765);
    margin-top: 300px;
    border-radius: 10px;
}

.cardW:hover .card-img-top{
        transform: scale(1.50);
        transition: all 3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.cardW:hover .card-body{
    transform: translateY(-100%);
    transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.cardW:hover .title-W{
    display: none;
}


.imgPerfile{
    border-radius: 100%;
    border: 5px solid hsl(0, 0%, 90%);
    width: 100%;
}

.mainP{
    border-radius: 10px;
    margin-bottom: 200px;
    overflow: hidden;
}

.buttonForm{
    font-size: 40px;
    border: none;
    background-color: transparent;
}

.mainP .card{
    background-color: hsl(0, 0%, 90%);
    
    border: none;
    width: 100%;
}

.mainP .card .card-header{
    
    border: none;
}

.twitterScrol{
    height: 50vh;
    width: 100%;
    overflow: auto;
    
}

.name{
    justify-content: center;
}

.main-B .card{
    border-radius: 20px;
    overflow: hidden;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: white;
}

@media only screen and (max-width: 992px) {

    .imgPerfile{
        width: 40%;
    }

    .imgAndName{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .name{
        flex-direction: row;
        align-items: center;
    }

    .p-5 {
        padding: 0.5rem!important;
    }
    
    .m-5 {
        margin: 0.5rem!important;
    }

    header{
        justify-content: space-between;
    }

    .navbar>.container-fluid{
        justify-content: end;
    } 

    .navbar-collapse {
        position: absolute;
        background-color: hsl(0, 0%, 70%);
        top: 50px;
        padding: 20px;
        border-radius: 20px 0px 20px 20px;
        z-index: 10;
    }
}
