// header
section{
    header{
        background-color: $bg-color1;
        
        a{
            text-decoration: none;
            cursor: pointer; 
        }
        nav{
            div{
                div{
                    ul{
                        list-style: none;
                        margin: 5px;
                        padding: 0;

                        .nav-link{
                            font-weight: 600;
                        }

                        .active{
                            border-bottom: solid 1px black;
                        }
                    }
                }
                
            }

        }
    }
}