// Main
main{
    background-color: $bg-color4;
}



.mainIndex{
    div{
        .cardW{
            min-width: 100px;
            max-width: 500px;
            min-height: 100px ;
            max-height: 300px;
            overflow: map-get($card, overflow);
            margin: 15px 0;
            color: map-get($card, color1);
            
            &:hover{
                .card-img-top{
                    transform: scale(1.50);
                    transition: all 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                }

                .card-body{
                    transform: translateY(-100%);
                    transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
                }

                .title-W{
                    display: none;
                }
            }

            .card-img-top{
                position: absolute;
                height: 100%;
                z-index: 0;
            }

            .title-W{
                z-index: 1;
                margin-left: 1rem;
                background-color: $bg-color2;
            }

            h4{
                margin-top: 1rem ;
                
            }

            .card-body{
                z-index: 1;
                background-color: hsla(0, 0%, 20%, 0.765);
                margin-top: 300px;
                border-radius: map-get($card, border-radius);
            }
        
        }
    }
}

.mainP{

    border-radius: map-get($card, border-radius);
    margin-bottom: 200px;
    overflow: map-get($card, overflow);

    div{
        div{
                
            .imgPerfile{
                border-radius: 100%;
                border: 5px solid $bg-color1;
                width: 100%;
            }

            div{

                div{
                    form{
                        .buttonForm{
                            font-size: 40px;
                            border: none;
                            background-color: transparent;
                        }
                    }
                }

            }
        }
    }

    .card{
        background-color: map-get($card, color1);
        border: map-get($card, borde);
        width: 100%;

        .card-header{
            border: map-get($card, borde);
        }
    }

    .twitterScrol{
        height: 50vh;
        width: 100%;
        overflow: auto;
        
    }

    .name{
        justify-content: center;
    }
}

.main-B{
    .card{
        border-radius: 20px;
        overflow: map-get($card, overflow);
        background-color: $bg-color2;
        border: map-get($card, borde);
        color: white; 
    }

    .search{
        border: none;
        border-radius: 10px;
        width: 70%;
    }
}
 
